snippet v "sig"
valentin
endsnippet

snippet V "sig"
Valentin Reis
Postdoctoral Appointee at Argonne National Laboratory
www.anl.gov
endsnippet

snippet F "sig"
Best Regards,

--
Valentin Reis
Postdoctoral Appointee at Argonne National Laboratory
www.anl.gov
endsnippet
